src/pug/pages/index.pug
extends ../layouts/layout.pug

include ../mixins/package.pug

block content
    header.page-header
        .container
            h1.page-title Ты сегодня покормил кота?
    .page-content
        .packages-list
            each package in mocks['packages']
                .packages-list_item
                    .package-ui
                        input.package-ui_checkbox.package-ui-checkbox(type="checkbox" disabled=package.is_disabled id=package.id)
                        +package(package)

                        if package.is_disabled
                            .package-ui_note.package-ui_note--disabled= package.uiDisabledNote
                        else
                            .package-ui_note.package-ui_note--default Чего сидишь? Порадуй котэ,
                                label.pseudo-link(for=package.id) купи.
                            .package-ui_note.package-ui_note--selected= package.uiSelectedNote

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Нямушка
    </title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="page">
      <header class="page-header">
        <div class="container">
          <h1 class="page-title">Ты сегодня покормил кота?</h1>
        </div>
      </header>
      <div class="page-content">
        <div class="packages-list">
          <div class="packages-list_item">
            <div class="package-ui">
              <input class="package-ui_checkbox package-ui-checkbox" type="checkbox" id="package-1">
              <label class="package" for="package-1">
                <div class="package_content">
                  <div class="package_header">Сказочное заморское яство</div>
                  <div class="package_title">Нямушка<small>с фуа-гра</small></div>
                  <ul class="package_features-list">
                    <li> <b>10 </b>порций
                    </li>
                    <li>мышь в подарок</li>
                  </ul>
                  <div class="package_weight">0,5<span>кг</span></div>
                </div>
              </label>
              <div class="package-ui_note package-ui_note--default">Чего сидишь? Порадуй котэ,
                <label class="pseudo-link" for="package-1">купи.</label>
              </div>
              <div class="package-ui_note package-ui_note--selected">Печень утки разварная с артишоками.</div>
            </div>
          </div>
          <div class="packages-list_item">
            <div class="package-ui">
              <input class="package-ui_checkbox package-ui-checkbox" type="checkbox" disabled id="package-2">
              <label class="package" for="package-2">
                <div class="package_content">
                  <div class="package_header">Сказочное заморское яство</div>
                  <div class="package_title">Нямушка<small>с рыбой</small></div>
                  <ul class="package_features-list">
                    <li> <b>40 </b>порций
                    </li>
                    <li> <b>2 </b>мыши в подарок
                    </li>
                  </ul>
                  <div class="package_weight">2<span>кг</span></div>
                </div>
              </label>
              <div class="package-ui_note package-ui_note--disabled">Печалька, с рыбой закончился.</div>
            </div>
          </div>
          <div class="packages-list_item">
            <div class="package-ui">
              <input class="package-ui_checkbox package-ui-checkbox" type="checkbox" id="package-3">
              <label class="package" for="package-3">
                <div class="package_content">
                  <div class="package_header">Сказочное заморское яство</div>
                  <div class="package_title">Нямушка<small>с курой</small></div>
                  <ul class="package_features-list">
                    <li> <b>100 </b>порций
                    </li>
                    <li> <b>5 </b>мышей в подарок
                    </li>
                    <li>заказчик доволен</li>
                  </ul>
                  <div class="package_weight">5<span>кг</span></div>
                </div>
              </label>
              <div class="package-ui_note package-ui_note--default">Чего сидишь? Порадуй котэ,
                <label class="pseudo-link" for="package-3">купи.</label>
              </div>
              <div class="package-ui_note package-ui_note--selected">Филе из цыплят с трюфелями в бульоне.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="assets/js/main.js"></script>
</html>
